* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #00b4db, #0083b0);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    /* Efecto de cristal (Glassmorphism) */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;

    
    width: 90%;
    max-width: 950px;
    padding: 3rem 2rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
    width: auto;
}

h1 {
    font-weight: 0;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

#weather-search {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#search {
    border-radius: 25px 0 0 25px;
    border: none;
    padding: 0 20px;
    font-size: 1rem;
    width: 75%;
    height: 50px;
    outline: none;
    background: rgba(255, 255, 255, 0.9);
}

#submit {
    border-radius: 0 25px 25px 0;
    border: none;
    padding: 0 20px;
    font-size: 1rem;
    background-color: #ff6b6b; 
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

#submit:hover {
    background-color: #ff5252;
}

#weather-data {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding: 2rem;
    margin-top: 10px;
    animation: fadeIn 0.5s ease;
    justify-content: center;
}

#weather-data h2 { font-size: 2rem; margin-bottom: 0.5rem; }
#weather-data .temp { font-size: 3.5rem; font-weight: bold; }
#weather-data .desc { text-transform: capitalize; font-style: italic; opacity: 0.9; }

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

#weather-prevision{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 2px black;
}

#forecast {
    max-width: 900px;
    margin: 20px auto;
    align-items: center;
}

.forecast-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 12px;
}
