* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-image:url(./img/coolbackgrounds-topography-gulf.svg);
    background-repeat:no-repeat ;
    background-size: cover;
    width: 100%;
    background-position-x: center;
    background-color:darkblue;
} */

body{
    background-color:grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

main{
    background-color: rba(227,193,173,0.85);
    position: relative;
    top:30%;
    border: 1px solid;
    border-radius:5px ;
    min-width: 540px;
    max-width: 50%;
    margin: auto;
    padding: 2em;
}

h1 {
    margin-bottom: 20px;
}

#search {
    border-radius: 5px 0 0 5px;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 70%;
    height: 42px;
}

#submit {
    border-radius: 0 5px 5px 0;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 5em;
    cursor: pointer;
}

#weather-wrapper {
    display: flex;
    flex-direction: column;
    place-items: center ;
    justify-content: space-between;
}

#weather-search {
    display: flex;
    width: 50%;
}